<template>
  <nav>
    
  </nav>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import { routes } from '@/router'

export default {
  name: 'Navbar',
  components: {},
  data () {
    return {
    }
  },

  mounted () {
  },

  methods: {
    ...mapActions({
      logout: 'auth/LOGOUT'
    }),

    async logoutUser() {
      await this.logout()
      this.$router.push('/')
    }
  },

  computed: {
    ...mapGetters({
      loggedin: 'auth/LOGGED_IN',
      currentUser: 'user/GET_USER',
      roles: 'auth/GET_ROLES'
    })
  }
}
</script>
